In [71]:
import os
import pandas as pd

In [72]:
FILE_PATH = os.path.join('..','extraction','raw_data','fc25players_10_21_2024.csv')
df = pd.read_csv(FILE_PATH)
df

,id_player,first_name,last_name,common_name,avatar_url,shield_url,gender_id,height,weight,id_nationality,...,diff_positioning,diff_reactions,diff_sho,diff_shortPassing,diff_shotPower,diff_slidingTackle,diff_sprintSpeed,diff_standingTackle,diff_vision,diff_volleys
0,231747,Kylian,Mbappé,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,182,75,18,...,0,0,0,0,0,0,0,0,0,0
1,231866,Rodrigo,Hernández Cascante,Rodri,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,191,82,45,...,1,4,7,4,1,4,4,0,2,12
2,241667,Aitana,Bonmatí Conca,Aitana Bonmatí,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,1,162,53,45,...,0,0,2,0,10,0,0,0,0,8
3,239085,Erling,Haaland,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,195,94,36,...,0,0,-1,0,0,0,0,0,0,0
4,252371,Jude,Bellingham,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,186,75,14,...,12,5,12,2,7,0,5,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17365,259649,Engson,Singh,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,169,62,159,...,0,0,0,0,0,0,-16,0,0,0
17366,73840,Ousmane,Sylla,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,176,74,136,...,0,0,0,0,0,0,0,0,0,0
17367,269015,Feng,Wei,Wei Feng,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,181,69,155,...,0,0,0,0,0,0,0,0,0,0
17368,71458,Hui Do,Won,Won Hui Do,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,187,71,167,...,0,0,0,0,0,0,0,0,0,0
17369,269541,Yuhang,Wu,Wu Yuhang,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,182,75,155,...,0,0,0,0,0,0,0,0,0,0

In [73]:
players_cols = ["id_player","first_name","last_name","common_name","avatar_url","shield_url","height","weight","birthdate"]
players_df = df[players_cols]
players_df.set_index("id_player", inplace=True)
players_df[:3]

,first_name,last_name,common_name,avatar_url,shield_url,gender_id,height,weight,birthdate
id_player,,,,,,,,,
231747,Kylian,Mbappé,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,182,75,12/20/1998 12:00:00 AM
231866,Rodrigo,Hernández Cascante,Rodri,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,191,82,6/22/1996 12:00:00 AM
241667,Aitana,Bonmatí Conca,Aitana Bonmatí,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,1,162,53,1/18/1998 12:00:00 AM

In [84]:
gender_cols = ["id_player", "gender_id"]
gender_df = df[gender_cols].copy()
gender_df.set_index("id_player", inplace=True)
gender_df[:3]

           gender_id
id_player
231747             0
231866             0
241667             1

In [74]:
player_technical_cols = ["id_player","preferred_foot",'weak_foot_ability', 'skill_moves', "overall_rating"]
player_technical_df = df[player_technical_cols].copy()
player_technical_df.set_index("id_player", inplace=True)
player_technical_df[:3]

           preferred_foot  weak_foot_ability  skill_moves  overall_rating
id_player
231747                  1                  4            5              91
231866                  1                  4            3              91
241667                  1                  5            4              91

In [75]:
player_abilities_cols = ["id_player", "player_abilities"]
player_abilities_df = df[player_abilities_cols].copy()
player_abilities_df['player_abilities'] = player_abilities_df['player_abilities'].str.split(', ')
player_abilities_df = player_abilities_df.explode('player_abilities').reset_index(drop=True)
player_abilities_df.set_index("id_player", inplace=True)
player_abilities_df

          player_abilities
id_player
231747        Finesse Shot
231747               Rapid
231747               Flair
231747             Trivela
231747           Acrobatic
...                    ...
259649                 NaN
73840                  NaN
269015                 NaN
71458                  NaN
269541                 NaN

[25316 rows x 1 columns]

In [76]:
team_cols = ["id_player","team","league_name","team_image_url"]
team_df = df[team_cols].copy()
team_df.set_index("id_player", inplace=True)
team_df[:3]

,team,league_name,team_image_url
id_player,,,
231747,Real Madrid,LALIGA EA SPORTS,https://images.ctfassets.net/rs6bgs1g8dbr/3X9L...
231866,Manchester City,Premier League,https://images.ctfassets.net/rs6bgs1g8dbr/5Gnv...
241667,FC Barcelona,Liga F,https://images.ctfassets.net/rs6bgs1g8dbr/6iI4...

In [77]:
nationality_cols = ["id_player","id_nationality","nationality","nationality_url"]
nationality_df = df[nationality_cols].copy()
nationality_df.set_index("id_player", inplace=True)
nationality_df[:3]

,id_nationality,nationality,nationality_url
id_player,,,
231747,18,France,https://images.ctfassets.net/rs6bgs1g8dbr/5Il3...
231866,45,Spain,https://images.ctfassets.net/rs6bgs1g8dbr/7k3V...
241667,45,Spain,https://images.ctfassets.net/rs6bgs1g8dbr/7k3V...

In [78]:
stats_cols = df.filter(regex='^stat_').columns.tolist()
stats_temp = df[["id_player"]+stats_cols].copy()
stats_melted = pd.melt(stats_temp, id_vars=['id_player'], var_name='stats', value_name='stats_point')
stats_melted['stats'] = stats_melted['stats'].str.replace('stat_', '')
stats_df = stats_melted.set_index('id_player')
stats_df[stats_df.index==231866]

                        stats  stats_point
id_player
231866           acceleration           65
231866                agility           66
231866                jumping           83
231866                stamina           91
231866               strength           83
231866             aggression           85
231866                balance           67
231866            ballControl           90
231866              composure           94
231866               crossing           76
231866                  curve           86
231866                    def           87
231866     defensiveAwareness           92
231866                    dri           84
231866              dribbling           84
231866              finishing           74
231866       freeKickAccuracy           64
231866               gkDiving           10
231866             gkHandling           10
231866              gkKicking            7
231866          gkPositioning           14
231866             gkReflexes            8
231866        headingAccuracy           81
231866          interceptions           84
231866            longPassing           91
231866              longShots           89
231866                    pac           66
231866                    pas           86
231866              penalties           62
231866                    phy           85
231866            positioning           76
231866              reactions           93
231866                    sho           80
231866           shortPassing           93
231866              shotPower           92
231866          slidingTackle           82
231866            sprintSpeed           66
231866         standingTackle           87
231866                 vision           84
231866                volleys           71

In [79]:
diff_stats_cols = df.filter(regex='^diff_').columns.tolist()
diff_temp = df[["id_player"]+diff_stats_cols].copy()
diff_melted = pd.melt(diff_temp, id_vars=['id_player'], var_name='diff_stats', value_name='diff_points')
diff_melted['diff_stats'] = diff_melted['diff_stats'].str.replace('diff_', '')
diff_stats_df = diff_melted.set_index('id_player')
diff_stats_df

             diff_stats  diff_points
id_player
231747     acceleration            0
231866     acceleration           11
241667     acceleration            0
239085     acceleration           -2
252371     acceleration            4
...                 ...          ...
259649          volleys            0
73840           volleys            0
269015          volleys            0
71458           volleys            0
269541          volleys            0

[694800 rows x 2 columns]

In [80]:
stats = pd.merge(stats_df, diff_stats_df, left_on=['id_player','stats'], right_on=['id_player','diff_stats'], how='outer')
stats.drop(columns='diff_stats', inplace=True)
stats

                    stats  stats_point  diff_points
id_player
18115        acceleration           51            0
18115          aggression           68            0
18115             agility           54           -6
18115             balance           55            0
18115         ballControl           65            0
...                   ...          ...          ...
279948            stamina           76            0
279948     standingTackle           22            0
279948           strength           65            0
279948             vision           61            0
279948            volleys           52            0

[694800 rows x 3 columns]

In [81]:
position_cols = ["id_player","position","position_short_label","position_type","alternate_positions"]
position_df = df[position_cols].copy()
position_df.set_index("id_player", inplace=True)
position_df[:3]

,position,position_short_label,position_type,alternate_positions
id_player,,,,
231747,Striker,ST,Attack,LW
231866,Center Defensive Midfielder,CDM,Midfielder,CM
241667,Center Midfielder,CM,Midfielder,CAM

In [82]:
all_columns = players_cols + nationality_cols + stats_cols + diff_stats_cols + team_cols + position_cols + player_abilities_cols + player_technical_cols + player_abilities_cols
missing_cols = [col for col in df.columns if col not in all_columns]
print(missing_cols)

[]

In [83]:
df.sort_values(by="id_player", ascending=True)

,id_player,first_name,last_name,common_name,avatar_url,shield_url,gender_id,height,weight,id_nationality,...,diff_positioning,diff_reactions,diff_sho,diff_shortPassing,diff_shotPower,diff_slidingTackle,diff_sprintSpeed,diff_standingTackle,diff_vision,diff_volleys
5616,18115,Rúben Miguel,Santos Fernandes,Rúben Fernandes,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,187,81,38,...,0,-2,0,0,0,0,-4,0,0,0
14153,19541,Glenn,Morris,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,183,70,14,...,0,0,-1,0,-1,0,-2,0,-4,0
66,20801,C. Ronaldo,dos Santos Aveiro,Cristiano Ronaldo,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,187,85,38,...,0,0,0,3,0,0,0,0,2,0
9365,23823,Andreas,Johansson,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,184,78,46,...,0,0,0,0,0,0,0,0,0,0
1691,24630,José Manuel,Reina Páez,Pepe Reina,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,188,92,45,...,0,0,-2,0,-1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8045,279930,Felipe Augusto,da Silva,Felipe Augusto,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,187,77,54,...,0,0,0,0,0,0,0,0,0,0
7141,279933,Anni,Hartikainen,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,1,167,56,17,...,0,0,0,0,0,0,0,0,0,0
11907,279934,Ian,Subiabre,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,171,71,52,...,0,0,0,0,0,0,0,0,0,0
17337,279941,Tommy,Silva,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,178,74,95,...,0,0,0,0,0,0,0,0,0,0
9419,279948,Koen,Kostons,NaN,https://ratings-images-prod.pulse.ea.com/FC25/...,https://ratings-images-prod.pulse.ea.com/FC25/...,0,186,76,34,...,0,0,0,0,0,0,0,0,0,0